<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
        <h1>Tabla de juegos</h1>
        <button (click)="openModal()" class="btn btn-success mb-3" type="button">Crear</button>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Creador</th>
                <th>Categoria</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let game of games">
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td>{{ game.maker }}</td>
                <td>{{ game.category.name }}</td>
                <td>
                    <button (click)="deleteGame(game.id)" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>

<app-modal (close)="closeModal()">
    <h1>Crear juego</h1>
    <form (submit)="createGame()">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="game.name">
        </div>
        <div class="form-group">
            <label for="maker">Creador</label>
            <input type="text" class="form-control" id="maker" name="maker" [(ngModel)]="game.maker">
        </div>
        <div class="form-group">
            <label for="category">Categoria</label>
            <input type="number" [(ngModel)]="game.category_id">
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
    </form>
    
</app-modal>
