<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title
                    text-center">Tabla de consolas</h1>
                    <button class="btn btn-success mb-3" type="button">Crear</button>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Compañía</th>
                                <th>Suppliers</th>
                                <th>Inventario</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let consola of consoles">
                                <td>{{ consola.id }}</td>
                                <td>{{ consola.name }}</td>
                                <td>{{ consola.maker }}</td>
                                <td>{{ consola.suppliers.id }}</td>
                                <td>{{ consola.console_inventory.stock }}</td>
                                <td>
                                    <button (click)="deleteConsole(consola.id)" class="btn btn-danger">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>
        </div>
    </div>
</div>