<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/login"><img src="../assets/img/control.png" alt="UTT" class="control"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/login">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registrer">Registrarse</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tablas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/tabla">Tabla Usuarios</a></li>
            <li><a class="dropdown-item" routerLink="/tablaGames">Tabla Juegos</a></li>
            <li><a class="dropdown-item" routerLink="/tablaConsolas">Tabla Consolas</a></li>
            <li><a class="dropdown-item" routerLink="/tablaCategorias">Tabla Categorías</a></li>
            <li><a class="dropdown-item" routerLink="/tablaSuppliers">Tabla Proveedores</a></li>
            <li><a class="dropdown-item" routerLink="/tablaGameSales">Tabla Ventas de Juegos</a></li>
            <li><a class="dropdown-item" routerLink="/tablaConsoleSales">Tabla Ventas de Consolas</a></li>
            <li><a class="dropdown-item" routerLink="/tablaGamesOrders">Tabla Pedidos de Juegos</a></li>
            <li><a class="dropdown-item" routerLink="/tablaConsoleOrders">Tabla Pedidos de Consolas</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
