
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Tabla de datos</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
              <span *ngIf="user.status === 'active'" class="badge badge-success">{{ user.status }}</span>
              <span *ngIf="user.status === 'inactive'" class="badge badge-danger">{{ user.status }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>